@import "compass/css3/border-radius"

$bs_small: 85%
$bs_muted: #999
$bs_alert: #B94A48
$bs_alert_success: #DFF0D8
$bs_alert_warning: #FCF8E3
$bs_alert_info: #D9EDF7


footer
  margin-top: 50px

h1, h2, h3, h4, h5, h6,
button, input[type=button], input[type=submit],
.btn
  text-transform: capitalize

.page-header
  margin-top: 0

h1.title
  margin: 0

textarea
  width: 500px

.dm
  background-color: $bs_alert_info

.vp
  background-color: $bs_alert_warning

a[href*='subjects/new?']
  color: red

footer
  font-size: $bs_small
  color: $bs_muted

a.action-danger
  color: $bs_alert

ul.inline
  list-style: none
  margin-left: 0px

  li
    display: inline-block
    padding-left: 5px
    padding-right: 5px

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0