a[href*='subjects/new?']
  color: red

body > footer
  margin-top: 50px

q
  &:before
    content: "“"
  &:after
    content: "”"

td, th
  &.numeric
    text-align: right

.attachment-overlay-dm-only
  position: relative

  .overlay-icons
    background: rgba(0, 0, 0, 0.5)
    color: white
    padding: 5px 7px
    position: absolute
    border: 0
    right: 4px
    bottom: 5px


+bg-variant(".dm", $state-info-bg)
+bg-variant(".vp", $state-warning-bg)


.nav > li > .nav-text
  padding: $nav-link-padding


.nav-toc
  padding: $nav-link-padding
  list-style: square outside

  ul
    padding: $nav-link-padding

  > li
    display: list-item

blockquote.comment
  font-size: $font-size-base

.short-name:after
  content: '.'

ul.tags-list
  padding: $nav-link-padding

table.subject-changes
  th
    font-weight: normal

  td, th
    padding: $nav-link-padding

.footnotes
  font:
    size: $font-size-small

  ol
    padding-left: 0.85em * 2

    li p
      margin: 0
